{erl_opts, [warnings_as_errors]}.

{project_plugins, [
    {erlfmt, {git, "git@github.com:WhatsApp/erlfmt.git", {branch, "main"}}}
]}.
{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]},
    {test, [eunit]}
]}.

{src_dirs, [
    "src",
    "aoc_*_day*/src"
]}.

{cover_enabled, true}.
{cover_opts, [verbose]}.

{xref_checks, [
    undefined_function_calls,
    locals_not_used,
    deprecated_function_calls
]}.
